<div class="centered-content">
  <div class="white-box">
    <h1 class="title">Edit program</h1>

    <input
      [(ngModel)]="inputValue"
      #listTitleInput
      class="input has-background-light is-medium"
      type="text"
      placeholder="Enter new program name..."
    />
    <br /><br />
    <div class="buttons is-right">
      <button class="button is-medium" (click)="cancelButton()">Cancel</button>
      <button
        (click)="editProgram()"
        class="button is-info has-text-white is-medium"
      >
        Edit
      </button>
    </div>
  </div>
</div>
