<div class="centered-content">
  <div class="white-box">
    <h1 class="title">Edit exercise</h1>
    <form [formGroup]="exerciseForm" (ngSubmit)="onSubmit()">
      <input
        class="input has-background-light is-medium"
        type="text"
        placeholder="Enter new exercise name..."
        formControlName="exerciseName"
      />
      <br /><br />
      <div class="buttons is-right">
        <button class="button is-medium" (click)="cancelButton()">
          Cancel
        </button>
        <button type="submit" class="button is-info has-text-white is-medium">
          Edit
        </button>
      </div>
    </form>
  </div>
</div>
