@import "../../../main-styles.scss";

.footer-container {
  background-color: $primary;
  position: fixed;
  width: 100%;
  bottom: 0;
  //opacity: 60%;

  .footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 70px;
  }

  .navbar-item {
    color: white;
    background-color: $purple-blue;
    margin: 0 5px;
    border-radius: 4px;
  }

  .navbar-item:hover {
    background-color: $dark-blue;
    box-shadow: 1px 1px 5px 0px #cbc2ba;
  }
}
