@import "../../../main-styles.scss";

.footer-container {
  background-color: $primary;
  position: fixed;
  width: 100%;
  bottom: 0;
  opacity: 60%;

  .footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 70px;
  }

  .item {
    margin: 0 20px;
  }
}
