<div class="section-wrapper">
  <div class="left-div">
    <div class="image-container">
      <img src="../../../../../../assets/female-athlete.png" alt="" />
    </div>
    <div class="title-container">
      <p>All <span>About</span> Fitness</p>
    </div>
  </div>
  <div class="midlle-div"></div>
  <div class="right-div">
    <div class="info-container">
      <div class="info-item">
        <div class="info-icon">
          <i class="fa-solid fa-dumbbell fa-xl" style="color: #ff4500"></i>
        </div>
        <div class="info-text">
          <h2>Weight lifting</h2>
          <p>
            Running is a method of terrestrial locomotion allowing humans and
            other animals to move rapidly on foot. Running is a type of gait
            characterized by an aerial phase in which all feet.
          </p>
        </div>
      </div>
      <div class="info-item">
        <div class="info-icon">
          <i
            class="fa-solid fa-person-running fa-xl"
            style="color: #ff4500"
          ></i>
        </div>
        <div class="info-text">
          <h2>Running</h2>
          <p>
            Running is a method of terrestrial locomotion allowing humans and
            other animals to move rapidly on foot. Running is a type of gait
            characterized by an aerial phase in which all feet.
          </p>
        </div>
      </div>
      <div class="info-item">
        <div class="info-icon">
          <i class="fa-solid fa-person-dress fa-xl" style="color: #ff4500"> </i>
        </div>
        <div class="info-text">
          <h2>Yoga</h2>
          <p>
            Running is a method of terrestrial locomotion allowing humans and
            other animals to move rapidly on foot. Running is a type of gait
            characterized by an aerial phase in which all feet.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
