<div class="program-title">
  <h1>default-programs</h1>
</div>

<div class="programs-content">
  <div class="programs">
    <!-- CARD START -->
    <div class="program-card-test">
      <div class="program-img-test"></div>
      <div class="program-name-test">
        <p>program name:</p>
        <h2>placeholder</h2>
      </div>
      <div class="program-buttons-test">
        <button class="button is-link is-rounded is-right">check</button>
      </div>
    </div>
    <!-- CARD END -->
    <!-- CARD START -->
    <div class="program-card-test">
      <div class="program-img-test"></div>
      <div class="program-name-test">
        <p>program name:</p>
        <h2>placeholder</h2>
      </div>
      <div class="program-buttons-test">
        <button class="button is-link is-rounded is-right">check</button>
      </div>
    </div>
    <!-- CARD END -->
  </div>
</div>

<div class="program-title">
  <h1>USER-programs</h1>
</div>

<div class="programs-content">
  <div class="programs">
    <div *ngFor="let program of programs" class="program-card-test">
      <div class="program-img-test"></div>
      <div class="program-name-test">
        <p>program name:</p>
        <h2>{{ program.title }}</h2>
      </div>
      <div class="program-buttons-test">
        <button
          (click)="goToSelectedProgram(program._id)"
          class="button is-link is-rounded is-right"
        >
          check
        </button>
        <button
          (click)="editProgramClick(program._id)"
          class="button is-link is-rounded"
        >
          edit
        </button>
        <button
          (click)="deleteProgramOnClikc(program._id!)"
          class="button is-link is-rounded is-right"
        >
          delete
        </button>
      </div>
    </div>
    <!-- CARD END -->
    <div class="add-new-program-div">
      <button (click)="addNewProgram()" class="button is-link is-rounded">
        Add new program
      </button>
    </div>
  </div>
</div>
