<div class="page-wrapper">
  <div class="program-title">
    <p>Program name: {{ this.programTitle }}</p>
  </div>
  <div class="program-content">
    <div class="sidebar has-background-white">
      <h1 class="title has-text-primary">MG's</h1>
      <div class="lsit-menu">
        <a
          *ngFor="let muscleGroup of muscleGroups"
          class="list-menu-item"
          [routerLink]="
            '/programs/' +
            muscleGroup._programId +
            '/mg-lists/' +
            muscleGroup._id +
            '/exercises'
          "
          routerLinkActive="is-active"
        >
          <p>{{ muscleGroup.title }}</p>
        </a>
      </div>

      <button
        (click)="createNewMucleGroup()"
        class="button is-primary has-text-white"
      >
        + New MG
      </button>
    </div>
    <!-- EXERCISES START -->

    <div class="exercises-list-container has-background-light">
      <div class="top-bar">
        <h1 class="title has-text-primary">Exercises</h1>
        <div class="dropdown is-hoverable is-right">
          <div class="dropdown-trigger">
            <button
              class="button"
              aria-haspopup="true"
              aria-controls="dropdown-menu4"
            >
              <span class="icon is-small">
                <i class="fas fa-cog" aria-hidden="true"></i>
              </span>
            </button>
          </div>
          <div class="dropdown-menu" id="dropdown-menu4" role="menu">
            <div class="dropdown-content">
              <a (click)="editMuscleGroupClick()" class="dropdown-item">
                Edit
              </a>
              <a
                (click)="deleteMuscleGroup()"
                class="dropdown-item has-text-danger"
              >
                Delete
              </a>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="exercises">
        <div
          class="exercise"
          *ngFor="let exercise of exercises"
          [ngClass]="{ completed: exercise.completed }"
        >
          <div class="exercise-text">
            {{ exercise.title }}
          </div>
          <div class="exercise-buttons">
            <button (click)="editExercicse(exercise._id)" class="button">
              <div class="icon">
                <i class="fas fa-edit"></i>
              </div>
            </button>

            <button
              (click)="deleteExercise(exercise._id!)"
              class="button is-danger"
              style="margin-left: 10px"
            >
              <div class="icon">
                <i class="fas fa-trash"></i>
              </div>
            </button>
          </div>
        </div>
      </div>
      <h3 class="no-content-title" *ngIf="exercises?.length === 0">
        There are no tasks here! Click the add button to create a new task.
      </h3>
      <h3 class="no-content-title" *ngIf="!exercises">
        Choose list in sidebar.
      </h3>

      <button
        (click)="createNewExercise()"
        class="circle-add-button button is-primary"
      >
        +
      </button>
    </div>
    <!-- 
  EXERCISES END -->
  </div>
</div>
