@import "../../../main-styles.scss";

.header-container {
  display: flex;
  width: 100%;
  background-color: $primary;
  height: 70px;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;

  .navigation-container {
    max-width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
  }

  .auth-container {
    width: 200px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .navbar-item {
    color: white;
    background-color: $purple-blue;
    margin: 0 5px;
    border-radius: 4px;
  }

  .navbar-item:hover {
    background-color: $dark-blue;
    box-shadow: 1px 1px 5px 0px #cbc2ba;
  }
}
