<div class="header-container">
  <div class="navigation-container">
    <a class="navbar-item" (click)="goToHomePage()"> Home </a>
    <a class="navbar-item" (click)="goToProgramsPage()"> Programs </a>
    <a class="navbar-item" (click)="goToExercisesPage()"> Exercises </a>
  </div>

  <div *ngIf="!loggedIn" class="auth-container">
    <a class="navbar-item" (click)="goToSignupPage()"> Signup </a>
    <a class="navbar-item" (click)="goToLoginPage()"> Login </a>
  </div>
  <div *ngIf="loggedIn" class="auth-container">
    <a class="navbar-item" (click)="logout()"> Logout </a>
  </div>
</div>
